.card {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: white;
    color: hsl(210, 15%, 20%);
    box-shadow: 0.2em 0.5em 1em rgba(0, 0, 0, 0.3);
}

.card>img {
    width: 100%;
    height: auto;
}