.page {
    border: solid 1px #bbb;
}

.homeTransition-appear {
    opacity: 0;
}

.homeTransition-appear.homeTransition-appear-active {
    opacity: 1;
    transition: all .5s ease-in-out;
}

.page-animation-enter {
    opacity: 0.01;
}

.page-animation-enter.page-animation-enter-active {
    opacity: 1;
    transition: opacity 1ms ease-in;
}

.page-animation-leave {
    opacity: 1;
}

.page-animation-leave.page-animation-leave-active {
    opacity: 0.01;
    transition: opacity 1ms ease-in;
}

.page-animation-appear {
    opacity: 0.01;
}

.page-animation-appear.page-animation-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}